<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>node{
   stage(&apos;SCM Checkout&apos;){
     git &apos;https://github.com/javahometech/my-app&apos;
   }
   stage(&apos;Compile-Package&apos;){
      // Get maven home path
      def mvnHome =  tool name: &apos;maven-3&apos;, type: &apos;maven&apos;   
      sh &quot;${mvnHome}/bin/mvn package&quot;
   }
   stage(&apos;Deploy to Tomcat&apos;){
      
           sh &apos;sshpass -p&quot;suri&quot;  scp target/myweb-0.0.5.war suri@172.17.0.2:/home/suri/apache-tomcat-8.5.37/webapps&apos;
      }
   }</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>